# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://tlpfoxuwgkavonzcaomy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRscGZveHV3Z2thdm9uemNhb215Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1ODg3MjIsImV4cCI6MjA1ODE2NDcyMn0.2N0VAp57y35KBR83WvyidtWCuuAXTHAj6avD9-G3vUE
